<a href="https://colab.research.google.com/github/SankethHonavar/100_Python_Programs/blob/main/Level_1_%E2%80%93_Core_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables & Data Types**

In [ ]:
num1=input("Enter the first number: ")
num2=input("Enter the second number: ")
temp=num1
num1=num2
num2=temp
print(num1,num2)

Enter the first number: 12
Enter the second number: 15
15 12

In [ ]:
num=int(input("Enter a number"))
if num%2==0:
  print("Number is Even")
else:
  print("Number is Odd")

Enter a number5
Number is Odd

In [ ]:
radius=float(input("Enter the radius of the circle: "))
area=3.14*radius*radius
print("Area of a circle is ", area, "Sq. units")

Enter the radius of the circle: 3.5
Area of a circle is  38.465 Sq. units

In [ ]:
celsius=float(input("Enter the Celsius: "))
farenheit=(celsius*9/5)+32
print("Farenheit: ", farenheit)

Enter the Celsius: 37.5
Farenheit:  99.5

In [ ]:
n1=float(input("Enter the first number: "))
n2=float(input("Enter the second number: "))
if n1>n2:
  print("The larger one is ",n1)
else:
  print("The larger one is ", n2)

Enter the first number: 17
Enter the second number: 25
The larger one is  25.0

**Loops & Conditionals**

In [ ]:
i=1
while i<=50:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(1,101):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
n=int(input("Enter a number for Multiplication Table: "))
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

Enter a number for Multiplication Table: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
num=input("Enter a number: ")
print(len(num))

Enter a number: 3256
4

In [ ]:
10/4

2.5

In [ ]:
num=int(input("Enter the number: "))
count=0

if num==0:
  count=1
else:
  while num!=0:
    count+=1
    num=num//10
print("Number of digits: ", count)

Enter the number: 10
Number of digits:  2

In [ ]:
num=int(input("Enter a number: "))
reverse=0

while num!=0:
  digit=num%10
  reverse=reverse*10+digit
  num=num//10
print("Reversed number:",reverse)

In [ ]:
num=int(input("Enter a number: "))
reverse=0

while num!=0:
  digit=num%10
  reverse=reverse*10+digit
  num=num//10
print("Reversed number:",reverse)

In [ ]:
def palindrome(s):
  if string.lower()==string[::-1].lower():
    print("The string is Palindrome")
  else:
    print("The string is not a Palindrome")
string=input("Enter a string: ")
palindrome(string)

Enter a string: Mam
The string is Palindrome

In [ ]:
def count_vc(s):
  vowels='aeiou'
  count_c=0
  count_v=0
  for char in s.lower():
    if char.isalpha():
      if char in vowels:
        count_v+=1
      else:
        count_c+=1
  return count_c, count_v

string=input("Enter the string: ")
vowels_count, consonants_count = count_vc(string)
print("The number of vowels: ", vowels_count, "\nThe number of consonents: ", consonants_count)

Enter the string: maam
The number of vowels:  2
The number of consonents:  2

In [ ]:
string=input("Enter a string: ")
rev=string[::-1]
print("The reversed form: ", rev)

Enter a string: mama
The reversed form:  amam

In [ ]:
string=input("Enter a string: ")
rev=''
for char in string:
  rev=char+rev
print("The reversed form: ", rev)

Enter a string: mama
The reversed form:  amam

In [ ]:
string1=input("Enter the first string: ")
string2=input("Enter the second string: ")
if sorted(string1.lower())==sorted(string2.lower()):
  print("The strings are Anagrams")
else:
  print("The strings are not an Anagrams")

Enter the first string: listen
Enter the second string: Silent
The strings are Anagrams

In [ ]:
ord('A')

65

In [ ]:
ord('a')

97

In [ ]:
string=input("Enter a string: ")
uppercase=''
for char in string:
  if 'a'<=char<='z':
    uppercase+=chr(ord(char)-32)
  else:
    uppercase+=char
print("Uppercase string: ",uppercase)

Enter a string: Hello World
Uppercase string:  HELLO WORLD

**Lists**

In [ ]:
def max(list):
  temp=list[0]
  for item in list:
    if item>temp:
      temp=item
  return temp

list=list(map(int,input("Enter the elements: ").split()))
max(list)

Enter the elements: 1 2 3

3